body {
  height: 80vh;
}
main {
  display: grid;
  font-size: 3vh;
  align-items: center;
  justify-items: center;
}
.intro {
  align-self: end;
  justify-self: center;
}
.logo {
  display: grid;
  align-self: center;
  justify-self: center;
  text-decoration: none;
  border: 1px solid black;
}
#symbol-js {
  text-align: center;
  justify-self: stretch;
  align-self: stretch;
  font-size: 24vh;
  color: black;
  text-decoration: none;
}

#symbol-js:hover {
  color: white;
  background-color: black;
  text-decoration: none;
}
.minimal {
  align-self: end;
  justify-self: center;
}
