body {
  height: 80vh;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  font-size: 3vh;
  align-items: center;
  justify-items: center;
  height: 99vh;
}
.intro {
  align-self: end;
  justify-self: center;
}
.logo {
  display: grid;
  align-self: stretch;
  justify-self: stretch;
  text-decoration: none;
  border: 1px solid black;
}
#symbol-js {
  text-align: center;
  justify-self: stretch;
  align-self: center;
  font-size: 10vh;
  color: black;
  text-decoration: none;
}

/* #symbol-js:hover {
  color: white;
  background-color: black;
  text-decoration: none;
} */

.logo:hover{
  background-color: black;
  /* background-color: black; */
}

.logo:hover > #symbol-js {
  color: white
}
.minimal {
  align-self: end;
  justify-self: center;
}

@media screen and (max-width: 720px) {
  main {
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
  }
  .logo {
    width: 98vw;
  }
}
